---
layout: "layout/base.njk"
---

<div class="flex flex-col justify-between max-w-2xl lg:max-w-none mx-auto">
  <div
    class="my-8 md:my-16 max-w-5xl w-full mx-auto px-6 lg:flex font-sans leading-normal"
  >
    <aside class="md:w-full lg:w-1/3">
      <div class="sm:pr-12 max-w-md lg:border-r lg:border-gray-200 mb-8">
      {% include 'partials/sidebar/index.njk' %}
        
      </div>
    </aside>
    <main class="md:w-full lg:w-2/3 lg:pl-16 max-w-xl">

  {{ content | safe }}
    
    </main>
  </div>
  <Footer />
</div>